$no-underline: none;
$btn-text-color: #fff;
$overall-padding: 10px;
$curve: 10px;
$bold-txt: bold;
$table: table;
$flex: flex;
$flex-col: column;
$MartopBtm10: 10px 0;
$pad12: 12px;
$mar10auto: 10px 0;
$input-width: 100%;
$input-border-radius: 4px;
$input-border: 1px solid #ccc;
$txt-center: center;
$form-width: 20%;
$flex: flex;
$margin-auto: 0 auto;
$flex-direction-col: column;
$btn-padding: 15px;
$btn-border-radius: 5px;
$no-border: none;
$pointer: pointer;
$fnt14: 14px;

